<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Calendar</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        @viewport {
            width: device-width;
            zoom: 1.0;
        }
    </script>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/reset.css" />


    <link href='fullcalendar-4.3.1/packages/core/main.css' rel='stylesheet' />
    <link href='fullcalendar-4.3.1/packages/daygrid/main.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src='fullcalendar-4.3.1/packages/core/main.js'></script>
    <script src='fullcalendar-4.3.1/packages/daygrid/main.js'></script>

    <script>
        /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        const openNav = () => {
            document.getElementById("mySidebar").style.width = "70%"
            $("#calendar").css({ "visibility": "hidden" });
        }
        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        const closeNav = () => {
            document.getElementById("mySidebar").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            $("#calendar").css({ "visibility": "visible" });
        }
        // Get the events
        const getEvents = () => {
        }
        $(document).ready(function () {
            // Handler for .ready() called.
            var calendarEl = document.getElementById('calendar');
            $(".dashboad-link").click(() => {
                window.location.href = "/"
            });
            $(".login-link").click(() => {
                window.location.href = "/login"
            });
        })
    </script>

    <style>
        @viewport {

        }


        /* The sidebar menu */
        .navbar {
            overflow: hidden;
            background-color: #333;
            position: fixed;
            bottom: 0;
            width: 87%;
            border-radius: 35px;
            margin-bottom: 1rem;
            transform: scale(1) translate(26.5px, 5%);
            z-index: 1;
        }

        .navbar a {
            float: left;
            display: block;
            border-radius: 35px;
            color: #f2f2f2;
            text-align: center;
            padding: 14px;
            text-decoration: none;
            font-size: 17px;
            font-family: didot;
            margin-top: 2px;
            margin-bottom: 3px;
            margin-left: 11px;
            z-index: 99;
            /*position: fixed;*/
            /*top:15px;*/
        }

        .navbar a:hover {
            background: #f1f1f1;
            color: black;
        }

        .navbar a.active {
            background-color: #4CAF50;
            color: white;
            border-radius: 35px;
            transform: scale(1) translate(-.5px, 1%);
        }

        /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
        #main {
            transition: margin-left .5s;
            /* If you want a transition effect */
            padding: 20px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-width: 600px) {
            .navbar.responsive .icon {
                position: absolute;
                right: 0;
                bottom: 0;
            }

            .navbar.responsive a {
                float: none;
                display: block;
                text-align: left;
            }

        }

        /* calendar styles */
        .calendar-image-wrapper {
            position: relative;
        }

        .calendar-image {
            position: absolute;
            width: 350px;
            height: 250px;
        }

        .event-calendar {
            position: absolute;
            left: 10px;
            top: 70px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: chartreuse;
            z-index: 1;
        }

        .plants-information-container {
            position: absolute;
            font-size: 15px;
            left: 1%;
            top: 400px;
        }

        .plant-info-wrapper {
            display: flex;
            padding-left: 2px;
        }

        .plant-schedule-logo {
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .plant-note {
            padding: 5px;

        }
    </style>

    <script>

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        $(document).ready(function () {

            const calendarFreq = { "Monday": 0, "Tuesday": 0, "Wednesday": 0, "Thursday": 0, "Friday": 0, "Saturday": 0, "Sunday": 0 }

            const eventsCalendarElements = $('.calendar-image-wrapper').children('.event-calendar-wrapper').get();

            eventsCalendarElements.forEach(plantSchedulesEl => {


                const plantName = plantSchedulesEl.dataset.name;
                const plantColor = plantSchedulesEl.dataset.color;

                $(plantSchedulesEl).children('.event-calendar').get().forEach(el => {
                    const currSchedule = el.dataset.schedule;

                    const note = el.dataset.note;
                    el.style.backgroundColor = plantColor;

                    switch (currSchedule) {
                        case "Monday":
                            $(el).css("top", `${70 + 40 * calendarFreq[currSchedule]}px`);
                            calendarFreq[currSchedule]++;
                            break;
                        case "Tuesday":

                            $(el).css("top", `${70 + 40 * calendarFreq[currSchedule]}px`);
                            el.style.left = "65px";
                            calendarFreq[currSchedule]++;
                            break;
                        case "Wednesday":

                            $(el).css("top", `${70 + 40 * calendarFreq[currSchedule]}px`);
                            el.style.left = "114px";
                            calendarFreq[currSchedule]++;
                            break;
                        case "Thursday":
                            $(el).css("top", `${70 + 40 * calendarFreq[currSchedule]}px`);
                            el.style.left = "160px";
                            calendarFreq[currSchedule]++;
                            break;
                        case "Friday":
                            $(el).css("top", `${70 + 40 * calendarFreq[currSchedule]}px`);
                            el.style.left = "215px";
                            calendarFreq[currSchedule]++;
                            break;
                        case "Saturday":
                            $(el).css("top", `${70 + 40 * calendarFreq[currSchedule]}px`);
                            el.style.left = "260px";
                            calendarFreq[currSchedule]++;
                            break;
                        case "Sunday":
                            $(el).css("top", `${70 + 40 * calendarFreq[currSchedule]}px`);
                            el.style.left = "309px";
                            calendarFreq[currSchedule]++;
                            break;
                    }


                });
            })

            const plantInfoEl = $('.plants-information-container').children(".plant-note").get();


            plantInfoEl.forEach(el => {
                const name = el.dataset.name;
                const note = el.dataset.note;
                const color = el.dataset.color;

                // Plant Name
                const plantNameEl = document.createElement('p');
                plantNameEl.innerText = name;

                // Wrapper for each plant notes
                const plantInfoWrapperEl = document.createElement('div');
                plantInfoWrapperEl.classList.add('plant-info-wrapper')

                // Circle to indicate which plant schedule
                const circleEl = document.createElement('div')
                circleEl.classList.add('plant-schedule-logo');
                circleEl.style.backgroundColor = color;

                // An actual Plant note
                const plantNoteEl = document.createElement('p')
                plantNoteEl.innerText = note;

                // Construct the elements from children to parent nodes
                el.appendChild(plantInfoWrapperEl)
                plantInfoWrapperEl.appendChild(circleEl)
                plantInfoWrapperEl.appendChild(plantNameEl)
                plantInfoWrapperEl.appendChild(plantNoteEl)
            })

        })
    </script>
</head>

<body style="background-color: beige">

    <!-- Sidebar -->
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/calendar" class="active">Calendar</a>
        <a href="/DB">View Plants</a>
    </div>

    <div class="dashboard-header">
        <h1 style="font-weight: bold;
            font-size: x-large;
            font-family: didot;
            color: white;
            border: 10px solid #333;
            border-radius: 35px;
            margin: 1.75rem;
            margin-bottom: 2rem;
            margin-top: 3rem;
            padding: 6px;
            transform: scale(1) translate(40px, -40%);
            background-color: #333;
            position: absolute;
            top: 5px;">Watering Calendar</h1>
    </div>
    <!--<div id="main">
        <button class="openbtn" onclick="openNav()">&#9776;</button>
    </div>-->
    <div id='calendar'>
        <div class="calendar-image-wrapper" style="transform: scale(1) translate(10px, 150%); height: 80px">

            <img class="calendar-image" src="/images/calendar.png" alt="">


            {{#each allSchedules}}

            <div class="event-calendar-wrapper" data-name={{plantName}} data-color={{color}}>


                {{#each schedules.days}}

                <div class="event-calendar" data-schedule={{this}}></div>


                {{/each}}

            </div>
            {{/each}}




        </div>
        <div class="plants-information-container">
            {{#each allSchedules}}


            <div class="plant-note" data-name={{plantName}} data-color={{schedules.color}} data-note={{schedules.note}}>
            </div>


            {{/each}}
        </div>
    </div>

</body>

</html>
