<html>

<head>
	<title>{{name}}</title>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	{{!-- <script src="js/bootstrap.js"> </script>
	<script src="js/hci-friends.js"></script> --}}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.avatar {
			/*vertical-align: middle;*/
			width: 125px;
			height: 125px;
			border: 1px solid black;
			border-radius: 50%;
			transform: scale(1) translate(10px, -90%);

		}

		#ZZ_Plant_Zanzibar_Gem {
			position: absolute;
			top: 80px;
			left: 80px;
			overflow: visible;
			width: 165px;
			white-space: nowrap;
			text-align: center;
			font-family: Didot;
			font-style: normal;
			font-weight: bold;
			font-size: 37px;
			color: rgba(0, 0, 0, 1);
			letter-spacing: 0.4px;
		}

		.plant-title-container {
			display: flex;
			flex-direction: row;
		}

		.backbutton {
			background-image:
				url('./desktop/.../images/backbutton@3x.png');

		}

		.pagetitle {
			font-family: didot;
			font-size: ;
			transform: scale(1) translate(155px, 40%);
		}

		.formalname {
			font-family: didot;
			font-size: large;
			transform: scale(1) translate(165px, -30%);
		}

		.essentials-wrapper {
			font-family: didot;
			transform: scale(1) translate(10px, -80%);
			border: 3px bold black;
			width: 95%;
		}

		.whatNotToDo-wrapper {
			font-family: didot;
			transform: scale(1) translate(10px, -60%);
			width: 95%;
		}

		.main-ew {
			font-family: didot;
			font-weight: bold;
			border: 3px bold black;
			border-radius: 20px;
			transform: scale(1) translate(0px, 30%);
		}

		.plantCalendar {
			transform: translate(10px, -60px);
		}

		.monday-button-wrapper {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			transform: translate(10px, 10px);

		}

		.tuesday-button-wrapper {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			transform: translate(15px, 10px);
		}

		.wednesday-button-wrapper {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			transform: translate(20px, 10px);
		}

		.thursday-button-wrapper {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			transform: translate(25px, 10px);
		}

		.friday-button-wrapper {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			transform: translate(30px, 10px);
		}

		.saturday-button-wrapper {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			transform: translate(35px, 10px);
		}

		.sunday-button-wrapper {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			transform: translate(40px, 10px);
		}

		.add-button-wrapper {
			transform: translate(120px, -20px);

		}

		.delete-button-wrapper {
			transform: translate(120px, -20px);

		}
	</style>
	<script>
		$(document).ready(function () {

			// Hide Delete button when visiting from Discover page
			if (document.referrer.includes('DB')) {
				document.querySelector(".add-button-wrapper").style.visibility = "visible";
				document.querySelector(".delete-button-wrapper").style.visibility = "hidden";
			} else { // Hide Add button when visiting from Discover page
				document.querySelector(".add-button-wrapper").style.visibility = "hidden";
				document.querySelector(".delete-button-wrapper").style.visibility = "visible";
			}

			// Handler for .ready() called.
			const addButtonEl = $('.add-button-wrapper').children('button').get()[0];
			const deleteButtonEl = $('.delete-button-wrapper').children('button').get()[0];


			addButtonEl.addEventListener('click', function () {
				const plantId = addButtonEl.dataset.value;
				const plantName = addButtonEl.dataset.name;

				try {

					$.post("/add", { plantId: plantId }, function (data) {
						console.log("success");
					});
					window.alert(`Add ${plantName} to my plants`)
				} catch (err) {
					console.err(err)
				}

			});
			deleteButtonEl.addEventListener('click', function () {
				const plantId = deleteButtonEl.dataset.value;
				const plantName = deleteButtonEl.dataset.name;

				try {
					$.post("/delete", { plantId: plantId }, function (data) {
						console.log("success");
					});
					window.location.href = "/"
				} catch (err) {
					console.err(err)
				}
			});



		})
	</script>
	<header>
</head>

<body style="background-color:beige;">
	<form>
		<input type="button" value="Back" onclick="history.go(-1)">
		<!--<img class="backbutton">-->
	</form>
	<h1 class="pagetitle">{{name}}</h1>
	<p class="formalname">{{description}}</p>
	<img class="avatar" src={{imagePath1}} alt="">
	</header>
	<section>
		<div class="essentials-wrapper">
			<p class="main-ew">{{essential-1}}</p>
			<li>{{essential-2}}</li>
			<li>{{essential-3}}</li>
			<li>{{essential-4}}</li>
		</div>

		<div class="whatNotToDo-wrapper">
			<p class="main-ew">{{whatNotToDo-1}}</p>
			<li>{{whatNotToDo-2}}</li>
			<li>{{whatNotToDo-3}}</li>
			<li>{{whatNotToDo-4}}</li>
		</div>

		<div class="plantCalendar">
			<strong>Select Watering Days</strong>
			<p>The chosen watering days will be displayed on the Plant Calendar.</p>

			<button class="monday-button-wrapper" style="background-color:salmon;" onclick="alert('Monday')">
				M
			</button>

			<button class="tuesday-button-wrapper" style="background-color:salmon;" onclick="alert('Tuesday!')">
				Tu
			</button>

			<button class="wednesday-button-wrapper" style="background-color:salmon;" onclick="alert('Wednesday!')">
				W
			</button>

			<button class="thursday-button-wrapper" style="background-color:salmon;" onclick="alert('Thursday!')">
				Th
			</button>

			<button class="friday-button-wrapper" style="background-color:salmon;" onclick="alert('Friday!')">
				F
			</button>

			<button class="saturday-button-wrapper" style="background-color:salmon;" onclick="alert('Saturday!')">
				Sa
			</button>

			<button class="sunday-button-wrapper" style="background-color:salmon;" onclick="alert('Sunday!')">
				Su
			</button>

		</div>

		<div class="add-button-wrapper">
			<button data-value={{id}} data-name={{name}} style="background-color: green;">
				Add Plant Profile
			</button>
		</div>

		<div class="delete-button-wrapper">
			<button data-value={{id}} data-name={{name}} style="background-color: pink;">
				Delete Plant Profile
			</button>
		</div>

	</section>

	<body style="background-color:beige;">
	</body>

</html>
